body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.article-list {
  margin: 0 20%;
  background-color: whitesmoke;
  padding: 20px;
}

.article {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
}

.article p {
  font-size: 0.9rem;
  font-weight: normal;
}

.shadow {
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);;
}

.small-text {
  font-size: 0.8rem;
  color: gray;
  font-style: italic;
  margin-bottom: 5px;
}

.article a {
  color: #66bb6a;
}

.shadow:hover {
  box-shadow: none;
  color: #777;
}

.page-head {
  text-align: center;
}

.search-input {
  margin: 50px 20% 20px 20%;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  font-size: large;
  cursor: pointer;
  outline: none;
  border: 1px solid #DDDDDD;
}

input[type=search]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}